<div class="container">
    <div class="footer-columns">
        <div class="footer-column">
            <h3>Salon & Spa Absolute</h3>
            <p>Reliable, licensed nail technicians, cosmetologists, and esthetician serving Burke County with quality workmanship and exceptional customer service.</p>
            <div class="social-links">
                <a href="https://www.facebook.com/salon.spa.absolute/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/salon.spa.absolute/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Services</h3>
            <ul>
                <li><a href="services.html">Hair</a></li>
                <li><a href="services.html">Nails</a></li>
                <li><a href="services.html">Skin</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contact Us</h3>
            <ul class="contact-info">
                <li><i class="fas fa-map-marker-alt"></i> 168 Fiddlers Run Blvd, Morganton, NC 28655</li>
                <li><i class="fas fa-phone"></i> (828) 430-3022</li>    
                <li><i class="fas fa-clock"></i> Tues-Fri: 10am - 6pm</li>
                <li></i>Sat: 10am - 4pm</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Page built by <a href = "oatesenenterprises.org/">Oates Enterprises</a> ©2025, <i>Certified in <a href="oatesenenterprises.org/certifications.html">Responsive Web Design</a></i></p>
    </div>
</div>