<nav class="secondary-nav">
    <a href="sillyotter/index.html" target="_blank">The Silly Otter</a>
    |
    <a href="stuff/Cr@Ppy Site.html" target="_blank">Cr@ppy Site</a>
    |
    <a href="hobby/index.html" target="_blank">Magic Hobby</a>
    |
    <a href="salonandspa/index.html" target="_blank">Client Project</a>
</nav>

<h1>Sam Oates' Silly Otter | ITIS 3135</h1>
    <nav class="main-nav">
        <a href="./">Home</a>
        |
        <a href="introduction.html">Introduction</a>
        |
        <a href="website_evaluations.html">Website Evaluations</a>   
        |
        <a href="contract.html">Contract</a>  
        |
        <a href="tables.html">Tables</a>
        |
        <a href="byo_intro.html">BYO Intro</a>      
    </nav>

